* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 1;
}

li a.active,
li a:hover {
    background: aqua;
    transition: .5s;
}

footer {
    background-color: black;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

body {
    background-color: grey;
}

h2 {
    font-family: 'Kanit', sans-serif;

}

/* Clases */

.articulacion {
    background: url(/assets/img/industria-pyme-metalurgica.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;

}


.fondo-paginas {
    background-color: grey;
    width: 100%;
    margin: auto;

}


.fondo-paginas h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.articulacion-texto {
    max-width: 80%;
    margin: auto;
    color: #fff;
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    padding-top: 100px;
    text-shadow: 0 3px 10px rgb(0 0 0 / 80);
}

.img-carrito {
    width: 20%;
    display: flex;
    text-align: center;
}

.img-carrito img {
    width: 100%;
}

.caja {
    text-align: center;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "productos productos1"
        "productos productos2"
        "productos productos3";
    justify-content: space-around;
    gap: 20px;

}


.div_salto {
    margin: 50px;
    display: flex;
    align-items: center;

}

.div_salto img p {
    display: grid;
    margin: auto;
}

.imagencons {
    height: 200px;
    width: 100%;
}

.img-pie {
    width: 5rem;
    height: 5rem;
}

.term-cond {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.descripcion-prod {
    margin-left: 1rem;
    font-style: italic;
}

.img-prod {
    width: 200px;
    height: 200px;
    transition: all 1s;
}

.img-prod:hover {
    height: 300px;
    width: 300px;

}



.imagennav {
    height: 70px;
    width: 70px;
}


.cuadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.video {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.parrafo-compras {
    text-align: center;
    font-weight: bold;
}

.consulta {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.productosimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cajaconsulta {
    display: flex;
    justify-content: space-evenly;
}

.formulariocaja {
    display: flex;
    flex-direction: column;

}

.parrafo {
    padding: 10px;
    font-weight: bold;

}

/* ID */

#titulo-productos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin: 0.625rem;

}

/* MEDIA QUERYS */

@media (max-width: 992px) {
    .contenedor-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .div_salto {
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .descripcion-prod {
        margin-top: 1rem;
    }

    .articulacion-texto {
        font-size: 40px;
    }

    .videito {
        margin: auto;
        width: 475px;
        height: 341px;
    }

    .mapa {
        display: grid;
        width: 100%;
        padding: 50px;
    }

    .img-carrito{
        width: 200px;
    }

}



@media (max-width: 768px) {
    .contenedor-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .div_salto {
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .descripcion-prod {
        margin-top: 1rem;
    }


    .articulacion-texto {
        font-size: 40px;
    }

    .videito {
        margin: auto;
        width: 475px;
        height: 341px;
    }

    .mapa {
        display: grid;
        width: 100%;
        padding: 50px;
    }

    .term-cond {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .img-carrito{
        width: 200px;
    }

}

@media only screen and (max-width: 576px) {
    .contenedor-grid {
        display: flex;
        flex-direction: column;

    }

    .div_salto {
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .descripcion-prod {
        margin-top: 1rem;
    }

    .articulacion-texto {
        font-size: 40px;
    }

    .videito {
        margin: auto;
        width: 475px;
        height: 341px;
    }

    .mapa {
        display: grid;
        width: 100%;
        padding: 50px;

    }

    .img-carrito{
        width: 200px;
    }
}